.Wrapper {
    margin: 5px;
    width: 100%;
}

.Block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    background: blue;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    color: white;
    padding: 5px;
}

.Break {
    flex-basis: 100%;
    height: 2px;
}

.Spacer {
    margin-left: 50px;
}

.Below {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
}