.Wrapper {
    margin: 5px;
    width: 100%;
}

.Part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    padding: 1px 5px 1px 5px;
    margin: 1px 5px 1px 5px;
}

.Spacer {
    margin-left: 70px;
}

.Below {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.Title {
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    font-weight: bold;
}

.Controls {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.vl {
    border-left: 1px solid darkgray;
    height: auto;
}