.Wrapper {
    margin: 5px;
    width: 100%;
}

.Block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background: blue;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    color: white;
    padding: 5px;
}

.Break {
    flex-basis: 100%;
    height: 2px;
}

.Spacer {
    margin-left: 1%;
}

.Below {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.Arrow {
    position: absolute;
    right: 0;
}

.Controls {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.Title {
    cursor: pointer;
    font-weight: bold;
}